@model ReservaTutorias.Frontend.Models.Materia

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-10">
        <h4>Ingresar materia</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="NombreMateria" class="control-label"></label>
                        <input asp-for="NombreMateria" class="form-control" />
                        <span asp-validation-for="NombreMateria" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Volver</a>
        </div>
    </div>
</div>



