@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Este sistema permite tanto a alumnos como profesores calendarizar y reservar tutorías.</p>
</div>
